<div class="basic-container">
  <form class="example-form" [formGroup]="editResto">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Money Paid By" formControlName="moneyPaidBy">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="To Whom Money Paid" formControlName="toWhomMoneyPaid">
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Bill Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="billDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Select a Category</mat-label>
    <mat-select formControlName="category">
      <mat-option>None</mat-option>
      <mat-option value="Labour">Labour</mat-option>
      <mat-option value="Steel">Steel</mat-option>
      <mat-option value="Cement">Cement</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Total Amount</mat-label>
    <input matInput formControlName="totalAmount" type="number" placeholder="Enter Mobile Number">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Paid Amount</mat-label>
    <input matInput formControlName="paidAmount" type="number" placeholder="Enter Mobile Number">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Pending Amount</mat-label>
    <input matInput formControlName="pendingAmount" type="number" placeholder="Enter Mobile Number">
  </mat-form-field>

  <div>
    <img style="height:100px; width: 100px;" src="{{ data.imageData }}" />
  </div>
  <div>
    <!-- <input [(ngModel)]="imageData" type="file" name="file" accept="image/*" (change)="selectImage($event)"> -->
  </div>

  <button mat-button (click)="closeDialog()">Close</button>

  <button mat-button (click)="collection()">Update</button>
  </form>
  </div>
