<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span routerLink="list">List Of Expences</span>
        </button>
        <button mat-menu-item>
          <span routerLink="add-expences">Add Expences</span>
        </button>
      </mat-menu>
    <span>Dream House</span>
  </mat-toolbar>
  <router-outlet></router-outlet>